<div class="container">
  <div class="row">
    <div class="col-12 mt-5">
      <h3>I'm in the AppComponent!</h3>
      <hr>
      <app-servers></app-servers>
      <hr>
      <app-warning-alert></app-warning-alert>
      <app-success-alert></app-success-alert>
    </div>
  </div>
</div>

<hr>
<div class="container">
  <h3>4. Debugging </h3>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>My Servers</h2>
      <!-- <button class="btn btn-primary" (click)="onAddServer()">Add Server</button>
      <br><br>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let server of servers; let i = index" (click)="onRemoveServer(i)">
          {{ server }}</li>
      </ul> -->
    </div>
  </div>
</div>

<hr>
<div class="container">
  <h3>5. Components & databinding</h3>
</div>
<hr>
<div class="container">
  <app-cockpit (serverCreated)="onServerAdded($event)" (bpCreated)="onBlueprintAdded($event)"></app-cockpit>
  <hr>
  <div class="row">
    <div class="col-12">
      <button class="btn btn-primary" (click)="onChangeFirst()">Change first Element</button>
      <button class="btn btn-danger" (click)="onDestroyFirst()">Destroy first Component</button>

      <app-server-element *ngFor="let serverElement of serverElements" [srvElement]="serverElement"
        [name]="serverElement.name">
        <p #contentParagraph>
          <strong *ngIf="serverElement.type === 'server'" style="color: red">{{ serverElement.content }}</strong>
          <em *ngIf="serverElement.type === 'blueprint'">{{ serverElement.content }}</em>
        </p>
      </app-server-element>
    </div>
  </div>
</div>

<hr>
<div class="container">
  <h3>5. Components & databinding ASSIGNMENT </h3>
</div>
<hr>
<div class="container">
  <div class="row">

    <div class="col-12">
      <app-game-control (intervalFired)="onIntervalFired($event)"></app-game-control>
    </div>

  </div>
  <div class="row">

    <div class="col-6">
      <app-odd *ngFor="let oddNumber of oddNumbers" [number]="oddNumber"></app-odd>
    </div>
    <div class="col-6">
      <app-even *ngFor="let evenNumber of evenNumbers" [number]="evenNumber"></app-even>
    </div>
  </div>
</div>
<hr>
<div class="container">
  <h3>7. Directives </h3>
</div>
<hr>
<div class="container">
  <div class="row">
    <div class="col-12">
      <button class="btn btn-primary" (click)="onlyOdd = !onlyOdd">Only show odd numbers</button>
      <br><br>
      <ul class="list-group">
        <div *ngIf="onlyOdd">
          <li class="list-group-item" [ngClass]="{odd: odd % 2 !==0}"
            [ngStyle]="{'backgroundColor': odd % 2 !==0 ? 'yellow' : 'transparent'}" *ngFor="let odd of oddNumbers7">
            {{ odd }}
          </li>
        </div>
        <!-- <div *ngIf="!onlyOdd">
        <li
        class="list-group-item"
        [ngClass]="{odd: even % 2 !==0}"
        [ngStyle]="{'backgroundColor': even % 2 !==0 ? 'yellow' : 'transparent'}"
        *ngFor="let even of evenNumbers7">{{ even }}
      </li>

     </div>
     <ng-template [ngIf]="!onlyOdd">
      <div>
        <li
        class="list-group-item"
        [ngClass]="{odd: even % 2 !==0}"
        [ngStyle]="{'backgroundColor': even % 2 !==0 ? 'yellow' : 'transparent'}"
        *ngFor="let even of evenNumbers7">{{ even }}
      </li>

     </div>
         </ng-template>

    -->

        <div *appUnless="onlyOdd">
          <li class="list-group-item" [ngClass]="{odd: even % 2 !==0}"
            [ngStyle]="{'backgroundColor': even % 2 !==0 ? 'yellow' : 'transparent'}" *ngFor="let even of evenNumbers7">
            {{ even }}
          </li>

        </div>




      </ul>
      <p appBasicHighlight>Style me with basic directive!</p>
      <p [appBetterHighlight]="'red'" defaultColor="yellow">Style me with better directive!</p>

      <ng-template [ngIf]="onlyOdd">
        <p>Only odd</p>
      </ng-template>


      <div [ngSwitch]="value">
        <p *ngSwitchCase="5">Value is 5</p>
        <p *ngSwitchCase="10">Value is 10</p>
        <p *ngSwitchCase="100">Value is 100</p>
        <p *ngSwitchDefault>Value is Default</p>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="container">
  <h3>9. Using Services and Dependency Injection </h3>
</div>
<hr>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-8">
      <app-new-account></app-new-account>
      <hr>
      <app-account
        *ngFor="let acc of accounts; let i = index"
        [account]="acc"
        [id]="i"
      ></app-account>
    </div>
  </div>
</div>
<hr>
<div class="container">
  <h3>9. Using Services and Dependency Injection ASSIGNMENT</h3>
</div>
<hr>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-8">
      <app-active-users></app-active-users>
      <app-inactive-users></app-inactive-users>
    </div>
    <!--
      Optimize this app by adding a UsersService which manages the active and inactive users.

      Also add a CounterService which counts the number of active->inactive and inactive->active actions.
    -->
  </div>
</div>
<hr>
<div class="container">
  <h3>11. Changes Pages with Routing</h3>
</div>
<hr>
<div class="container">
  <div class="row">
    <div class="col-12 col-sm-10 col-md-8 mb-3">
      <ul class="nav nav-tabs">
        <li role="presentation" class="nav-item btn-outline-light" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/" class="nav-link">Home</a></li>
        <li role="presentation" class="nav-item btn-outline-light" routerLinkActive="active"><a routerLink="/servers" class="nav-link">Servers</a></li>
        <li role="presentation" class="nav-item btn-outline-light" routerLinkActive="active"><a [routerLink]="['/users']" class="nav-link">Users</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-10 col-md-8">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>
<hr>
<div class="container">
  <h3>13. Observables (In another file)</h3>
</div>
<hr>
<div class="container">
  <h3>15. Handling Forms in Angular Apps</h3>
</div>
<hr>
<!-- Template driven -->
<div class="container">
  <div class="row">
    <div class="col-12 col-sm-10 col-md-8">
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div
        id="user-data"
        ngModelGroup="userData"
        #userData="ngModelGroup">
          <div class="form-group">
            <label for="username">Username</label>
            <input
            type="text"
            id="username"
            class="form-control"
            ngModel
            name="username"
            required>
          </div>
          <button
          class="btn btn-secondary"
          type="button"
          (click)="suggestUserName()">Suggest an Username</button>
          <div class="form-group">
            <label for="email">Mail</label>
            <input
            type="email"
            id="email"
            class="form-control"
            ngModel
            name="email"
            required
            email
            #email="ngModel">
            <span class="form-text" *ngIf="!email.valid && email.touched">Please enter a valid email!</span>
          </div>
        </div>
        <p *ngIf="!userData.valid && userData.touched">User Data is invalid!</p>
        <div class="form-group">
          <label for="secret">Secret Questions</label>
          <select
          id="secret"
          class="form-control"
          [ngModel]="defaultQuestion"
          name="secret">
            <option value="pet">Your first Pet?</option>
            <option value="teacher">Your first teacher?</option>
          </select>
        </div>
        <div class="form-group">
          <textarea
          class="form-control"
          name="questionAnswer"
          rows="3"
          [(ngModel)]="answer"></textarea>
        </div>
        <p>Your reply: {{ answer }}</p>
        <div class="radio" *ngFor="let gender of genders">
          <label>
            <input
            type="radio"
            name="gender"
            ngModel
            [value]="gender"
            required>
            {{ gender }}
          </label>
        </div>
        <button
        class="btn btn-primary"
        type="submit"
        [disabled]="!f.valid">Submit</button>
      </form>

    </div>
  </div>
  <hr>
  <div class="row" *ngIf="submitted">
<div class="col-12">
  <h3>Your Data</h3>
  <p>Username: {{ user.username }}</p>
  <p>Mail: {{ user.email }}</p>
  <p>Secret Question: Your first {{ user.secretQuestion }}</p>
  <p>Answer: {{ user.answer }}</p>
  <p>Gender: {{ user.gender }}</p>

</div>
  </div>
</div>
<hr>
<!-- Reactive -->
<div class="container">
  <div class="row">
    <div class="col-12 col-sm-10 col-md-8">
      <form [formGroup]="signupFormR" (ngSubmit)="onSubmitR()">

        <div formGroupName="userData">
          <div class="form-group">
            <label for="username">Username</label>
            <input
              type="text"
              id="username"
              formControlName="username"
              class="form-control">
              <span
              class="form-text"
              *ngIf="!signupFormR.get('userData.username').valid && signupFormR.get('userData.username').touched">
              <span *ngIf="signupFormR.get('userData.username').errors['nameIsForbidden']">This name is invalid!</span>
              <span *ngIf="signupFormR.get('userData.username').errors['required']">This field is required!</span>
            </span>
          </div>
          <div class="form-group">
            <label for="email">email</label>
            <input
              type="text"
              id="email"
              formControlName="email"
              class="form-control">
              <span
              class="form-text"
              *ngIf="!signupFormR.get('userData.email').valid && signupFormR.get('userData.email').touched">Please enter a valid email!</span>
          </div>
        </div>

        <div class="radio" *ngFor="let gender of genders">
          <label>
            <input
              type="radio"
              [value]="gender"
              formControlName="gender">{{ gender }}
          </label>
        </div>

        <div formArrayName="hobbies">
          <h4>Your hobbies</h4>
          <button class="btn btn-secondary" type="button" (click)="onAddHobby()">Add Hobby</button>
          <div class="form-group"
          *ngFor="let hobbyControl of signupFormR.get('hobbies').controls; let i = index">
            <input type="text" class="form-control" [formControlName]="i">
          </div>
        </div>

        <span
        class="form-text"
        *ngIf="!signupFormR.valid && signupFormR.touched">Please enter valid data!</span>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
<hr>
<div class="container">
  <h3>15. Handling Forms in Angular Apps ASSIGNMENT</h3>
</div>
<hr>

<div class="container">
  <div class="row">
    <div class="col-12 col-sm-10 col-md-8">
      <form [formGroup]="projectForm" (ngSubmit)="onSaveProject()">
        <div class="form-group">
          <label for="name">Project Name</label>
          <input
          type="text"
          id="name"
          formControlName="projectName"
          class="form-control">
        </div>
        <div class="form-group">
            <label for="email">Mail</label>
            <input
            type="email"
            id="email"
            formControlName="email"
            class="form-control">
          </div>
          <div class="form-group">
            <label for="status">Projectstatus</label>
            <select
            id="status"
            formControlName="projectStatus"
            class="form-control">
              <option value="stable">Stable</option>
              <option value="critical">Critical</option>
              <option value="finished">Finished</option>
            </select>
          </div>
      <button class="btn btn-primary" type="submit">Create Project</button>
      </form>


    </div>
  </div>
</div>
