<div class="container">
    <div class="row">
        <div class="col-12 mt-5">
            <h3>I'm in the AppComponent!</h3>
            <hr>
            <app-servers></app-servers>
            <hr>
            <app-warning-alert></app-warning-alert>
            <app-success-alert></app-success-alert>
        </div> 
    </div> 
</div>


<div class="container">
        <h3>4. Debugging </h3>
        </div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>My Servers</h2>
      <button class="btn btn-primary" (click)="onAddServer()">Add Server</button>
      <br><br>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let server of servers; let i = index"
          (click)="onRemoveServer(i)">{{ server }}</li>
      </ul>
    </div>
  </div>
</div>


<div class="container">
<h3>5. Components & databinding Deep dive </h3>
</div>
<div class="container">
<app-cockpit (serverCreated)="onServerAdded($event)"(bpCreated)="onBlueprintAdded($event)"></app-cockpit>
    <hr>
    <div class="row">
      <div class="col-12">
  <app-server-element 
  *ngFor="let serverElement of serverElements"
  [srvElement]="serverElement">
</app-server-element>
      </div>
    </div>
  </div>